#mapid { 
    position: absolute;
    height: 100%;
    width: 100%; 
}

#result {
    padding: 10px;
    font-size: 2em;
    color: blue;
  }

.popup-image { 

}

.leaflet-popup-content-wrapper {
  
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container {
}