<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Staycate</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<apikey>=places"></script>

    <script src="/static/leaflet-gplaces-autocomplete.js"></script>
    <link rel="stylesheet" href="/static/leaflet-gplaces-autocomplete.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

          
</head>

<body>
    
    <script>
        $(document).ready(function(){
        $("#toggle").click(function(){
          $("#about").slideToggle("slow");
        });
      });
      $(document).ready(function(){
        $("#close").click(function(){
          $("#about").slideToggle("slow");
        });
      });
    </script>

    <div id="mapid"></div>
    <script src="static/map.js"></script>
  

      <div class="leaflet-top card border border-secondary" style="width: 18rem;position:absolute; top:10px; right:10px; pointer-events:auto;text-align:center">
        <img class="card-img-top" style= "padding:10px;" src="static/staycation.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style = "text-align:center">Discover the world!</h5>
          <p class="card-text">Search on the top left bar to travel the world through social media all from the comforts of your couch!</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="#" id = "toggle" class="card-link">About this app</a></li>
          <li class="list-group-item"><a href="javascript:clearPopups()" class="card-link">Start a new trip</a></li>
        
        </ul>
      </div>
      <div id = "about" class="leaflet-top card border border-secondary" style="width: 18rem;position:absolute; top:400px; right:10px; pointer-events:auto;text-align:center;display:none;">
        <img class="card-img-top" style= "text-align:center;padding:5px;width:60%;margin-left:auto;margin-right:auto; margin-top:auto;padding-top: 20px;" src="static/aboutus.png" alt="Card image cap">

        <div class="card-body">
          <h5 class="card-title" style = "text-align:center">A new way to take a vacation</h5>
          <p class="card-text">Staycate was conceived to reproduce a core part of travel: the exposure to new cultures. Using social media, we hoped to accomplish this by creating windows into the lives of others.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#" id = "close" class="card-link">Close</a></li>
          
          </ul>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
